
@{
    Layout = "_Layout";
}

    <a asp-controller="AllOrders" asp-action="Index" class="btn btn-primary">Отобразить заказы</a>
    <a asp-controller="AllProducts" asp-action="AllProduct" class="btn btn-primary">Отобразить товары</a>
    <a asp-controller="AllAuthors" asp-action="Index" class="btn btn-primary">Редактировать авторов</a>
    <a asp-controller="AllProducts" asp-action="AddGenre" class="btn btn-primary">Редактировать жанры</a>
    <a asp-controller="Home" asp-action="LoadEksmo" class="btn btn-primary">Загрузить прайс Эксмо</a>