<div class="authorization">
    @{
        if (User.Identity.Name == "Admin")
        {
            <a asp-area="Admin" asp-controller="Home" asp-action="Index">
                <span>@User.Identity.Name</span>
            </a>
        }

        else
        {
            <a asp-controller="PersonalAccount" asp-action="Index">
                <span>@User.Identity.Name</span>
            </a>
        }
    }

    <span>/</span>
    <a asp-controller="Account" asp-action="Logout">
        <span>Выход</span>
    </a>
</div>