<footer>
    <div class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A71c8cc6305209e0c8f8a5939685459527f4680e5fe7bb8cda922181511e000e5&amp;width=100%&amp;height=400&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</footer>
</article>