

<div class="header-top">
    <p>Мир книг</p>
</div>
<nav class="first-menu">
    <div class="first-menu-left">
        <a class="slogan" href="~/Home/Index">
            <span>Официальный магазин книг г. Подольск</span>
        </a>
        <a class="first-menu-content" asp-controller="Home" asp-action="AboutUs">
            <span>О нас</span>
        </a>
        <a class="first-menu-content" asp-controller="Home" asp-action="Pay">
            <span>Доставка и оплата</span>
        </a>
        <a class="first-menu-content" asp-controller="Home" asp-action="Wholesale">
            <span>Оптовым клиентам</span>
        </a>
        <a class="first-menu-content" asp-controller="Home" asp-action="Loyalty">
            <span>Программа лояльности</span>
        </a>
    </div>
    <div class="first-menu-right">
        <a class="first-menu-right-content" href="tel:+79060612448">
            <span>8 (906) 061-24-48</span>
        </a>
        <a class="first-menu-right-content" href="#">
            <span>Контакты</span>
        </a>
    </div>
</nav>
<div class="stock">
    <a href="#"><img src="~/img/stock.jpg" alt="Баннер/Акция" title="Банер/Акция"></a>
</div>
<div class="header-middle">
    <form asp-controller="Catalog" asp-action="Search" method="get" class="search">
        <a asp-controller="Home" asp-action="Index"><img src="~/img/logo.jpg" alt="Логотип" title="logo"></a>
        <input type="text" name="search" placeholder="Введите название книги, имя автора, жанр">
        <input type="submit" value="Найти">
    </form>
    <div class="header-middle-right-content">
        @await Component.InvokeAsync("UserInfoComponent")
        @await Component.InvokeAsync("BasketComponent")
    </div>
</div>
<div class="header-navigation">
    <nav class="catalog">
        <a href="~/Catalog">Каталог</a>
        <a href="~/Catalog/Books/Stock">Акции</a>
        <a href="~/Catalog/Books/New">Новинки</a>
        <a href="~/Catalog/Books/Favorite">Бестселлеры</a>
        <a asp-controller="Home" asp-action="Error404">Подборки</a>
        <a asp-controller="Home" asp-action="Error404">Рекомендации</a>
        <a asp-controller="Catalog" asp-action="AuthorsList">Авторы</a>
        <a asp-controller="Reviews" asp-action="Index">Отзывы</a>
    </nav>
    <hr>
</div>
